---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";
import Button from "@components/Button.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle="Dome's Blog">
  <h1
    class="text-center text-4xl font-bold text-sky-900 transition-colors duration-300 dark:text-violet-300"
  >
    Recent posts
  </h1>

  {
    allPosts
      .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
      .slice(0, 3)
      .map((post) => <BlogPostPreview post={post} />)
  }

  <div class="flex flex-row justify-center">
    <Button href="/posts/1" text="See more posts" />
  </div>
</BaseLayout>
