---
import type { Page } from "astro";
import Button from "./Button.astro";

interface Props {
  page: Page;
}

const { page } = Astro.props;

const pages = Array.from({ length: page.lastPage }, (_, i) => i + 1);
---

<div class="flex w-fit flex-row gap-2">
  {page.currentPage != 1 && <Button href={page.url.prev!} text="Previous" />}

  {
    pages.map((pageNo) => (
      <Button
        href={pageNo.toString()}
        text={pageNo.toString()}
        highlight={pageNo == page.currentPage}
      />
    ))
  }

  {
    page.currentPage != page.lastPage && (
      <Button href={page.url.next!} text="Next" />
    )
  }
</div>
