---
import { Icon } from 'astro-icon/components'

interface Props {
    url: string;
    icon: string;
}

const { url, icon } = Astro.props;
---

<style>
    a {
        display: flex;
        font-size: 1.5em;
        padding: 10px;
        border-radius: 10px;
    }

    a [data-icon] {
        vertical-align: text-top;
        color: var(--header-font-color);
    }

</style>

<a class="button" href={url}><Icon name={icon} /></a>