---
import { Icon } from "astro-icon/components";

interface Props {
  url: string;
  icon: string;
  description: string;
}

const { url, icon, description } = Astro.props;
---

<a
  class="flex items-center rounded-2xl p-4 text-sky-900 transition-colors duration-300 hover:bg-sky-300 dark:text-violet-200 dark:hover:bg-violet-900"
  href={url}
>
  <span class="sr-only">{description}</span>
  <Icon name={icon} />
</a>
