---
import { Icon } from "astro-icon/components";

type Props = Record<string, never>;
---

<button
  class="text-4xl transition-colors duration-300 hover:rotate-12 dark:text-white"
  id="themeToggle"
>
  <span class="sr-only">Toggle theme</span>
  <Icon class="dark:hidden" name="mdi:weather-sunny" aria-hidden="true" />
  <Icon class="hidden dark:block" name="mdi:weather-night" aria-hidden="true" />
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const handleToggleClick = () => {
      document.documentElement.classList.toggle("dark");

      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    };

    document
      .getElementById("themeToggle")!
      .addEventListener("click", handleToggleClick);
  });
</script>
