{% extends "base.html" %}

{% block title %}Edit Post - dome's blog{% endblock %}

{% block content %}
    <div class="new-post-form column">
        <form class="column" action="{{ url_for('admin_edit', post_id=post.id) }}" method="post" autocomplete="off">
            <input type="text" name="title" placeholder="Title" value="{{ post.title }}">
            <textarea id="markdown-edit" name="md_contents">{{ post.md_contents }}</textarea>
            <button type="submit">Save</button>
        </form>
        <h2>Preview</h2>
        <div id="markdown-preview" class="markdown"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script async type="text/javascript" src={{ 'js/blog.min.js' | asset_url }}></script>
{% endblock %}