{% extends "base.html" %}

{% block title %}New Post - dome's blog{% endblock %}

{% block content %}
    <div class="new-post-form column">
        <form class="column" action="{{ url_for('admin_new') }}" method="post" autocomplete="off">
            <input type="text" name="title" placeholder="Title">
            <textarea id="markdown-edit" name="md_contents"></textarea>
            <div class="row">
                <button type="submit">Post</button>
                <button class="secondary-button" type="submit" formaction="{{ url_for('admin_draft') }}">Save Draft</button>
            </div>
        </form>
        <h2>Preview</h2>
        <div id="markdown-preview" class="markdown"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script async type="text/javascript" src={{ 'js/blog.min.js' | asset_url }}></script>
{% endblock %}