{% extends "base.html" %}

{% block title %}Manage Posts - dome's blog{% endblock %}

{% block content %}
    <div class="column">
        <div class="column manage-posts">
            <h1>Posts</h1>
            {% for post in posts %}
            <div class="row manage-post-item">
                <div class="post-metadata row">
                    <p class="title">{{ post.title }}</p>
                    <time datetime="{{ post.created_at_datetime }}">{{ post.created_at_display }}</time>
                </div>
                <div class="post-actions row">
                    <a href="{{ url_for('admin_edit', post_id=post.id) }}">Edit</a>
                    <a class="destructive-button" href="{{ url_for('admin_delete', post_id=post.id) }}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="column manage-posts">
            <h1>Drafts</h1>
            {% for draft in drafts %}
            <div class="row manage-post-item">
                <div class="post-metadata row">
                    <p class="title">{{ draft.title }}</p>
                    <time datetime="{{ draft.created_at_datetime }}">{{ draft.created_at_display }}</time>
                </div>
                <div class="post-actions row">
                    <a href="{{ url_for('admin_publish_draft', post_id=draft.id) }}">Publish</a>
                    <a href="{{ url_for('admin_edit', post_id=draft.id) }}">Edit</a>
                    <a class="destructive-button" href="{{ url_for('admin_delete', post_id=draft.id) }}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}