---
import { ViewTransitions } from "astro:transitions";

import "@styles/global.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
    pageTitle?: string;
    children: any;
}

const { pageTitle } = Astro.props;
---

<style>
    body {
        margin: 0 auto;
        max-width: 80ch;
        line-height: 1.5;
    }

    main {
        padding: 20px;
        min-height: calc(100vh - var(--header-height) - var(--footer-height));
    }

</style>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/monokai.css" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle || "Dome's Blog"}</title>
        <ViewTransitions />
    </head>
    <body>
        <Header />

        <main>
            { pageTitle && <h1>{pageTitle}</h1> }

            <slot />
        </main>

        <Footer />

        <script>
            import "@scripts/menu.ts";
        </script>
    </body>
</html>
